
# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Playwright
test-results/
playwright-report/

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Env files
.env
.env.*
